* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  background-color: bisque;
  border: solid 1px gray;
  display: inline-block;
  box-shadow: 2px 2px 2px #000;
}
.square:hover{
  box-shadow: none;
}

.x,.o{
  position: relative;
}

.o::after{
  content: "\1F9CA";
  font-size: 50px;
  line-height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
.x::after{
  content: '\1F525 ';
  font-size: 50px;
  line-height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}



.win{
  background-color: rgba(0, 0, 0, 0.61);
  position: absolute;
  width: 98.5%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

p{
  background-color:  bisque;
  padding: 10px;
  border: solid 5px #fff;
  border-radius: 10px;
}

p,spam{
  font-size: 30px;
  font-weight: bold;
}

button{
  font-size: 20px;
  border: none;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.76);
  box-shadow: 1px 1px 2px #000;
  display: block;
  margin: 20px auto;
}

button:hover{
  background-color: rgba(255, 255, 0, 0.76);
  cursor: pointer;
  box-shadow: none;
  
}

